{% extends "layout.html" %}
{% block title %}AdSense for DocType HTML5{% endblock %}

{% block header %}
  <h1>AdSense for DocType HTML<sup>5</sup></h1>
{% endblock %}

{% block content %}
  <p>
    This website for the <a href="{{ url_for('index') }}">DocType HTML5</a> event is owned by
    <a href="http://hasgeek.com/">HasGeek Media LLP</a> and maintained
    by <a href="http://jace.zaiki.in/">Kiran Jonnalagadda</a>, HasGeek’s founder.
    This post confirms my ownership of the site and that this site adheres to Google AdSense
    program policies and Terms and Conditions.
  </p>
{% endblock %}
{% block footer %}
  <p>
    HasGeek Media LLP &middot; No 141/142, 2nd Cross, Pai Layout, Hulimavu Gate, Bannerghatta Road, Bangalore - 560 076
  </p>
{% endblock %}
