<h2>Frequently Asked Questions</h2>
<p>
  This section is a work in progress. To contribute answers, jump
  <a href="http://github.com/hasgeek/doctypehtml5">into the code</a> or
  tweet it to <a href="http://twitter.com/doctypehtml5">@doctypehtml5</a>.
</p>
<dl>
  <dt>
    When will I get my participation approval email?
  </dt>
  <dd>
	  Soon after the venue is finalized. Depending on venue availability,
	  we may have to move the event date around.
  </dd>
  <dt>
    How do you plan to teach me all in one day?
  </dt>
  <dd>
    We can’t teach you everything in a day, but the event will give you a
    broad overview of what you can do with HTML5, and how to get to where
    you want to go. More than the sessions themselves, you will be in the
    company of others who have similar questions and possibly the answers.
  </dd>

  <dt>
    I am not a programmer. Why should I come?
  </dt>
  <dd>
    Designers and technology managers will find this valuable too.
  </dd>

  <dt>
    How do I use the code on the website? What does forking it mean?
  </dt>
  <dd>
    The base code is BSD licensed, meaning you can use it in anyway you want.
    Forking means you can work on a separate copy of the code and optionally
    contribute the changes back to the source. You may want to fix something
    or use the code to run your own site for another event.
  </dd>

  <dt>
    Showcase? So how are the cool things made possible?
  </dt>
  <dd>
    There are a lot of cool demos for the various features of HTML5.
    <a href="http://html5demos.com/">html5demos.com</a> has a comprehensive
    listing.
  </dd>

  <dt>
    How will this help me get more users/customers?
  </dt>
  <dd>
    You can make your dynamic content available on a wider range of
    devices (with lesser effort), for a start. Your users do not have
    to install any special client-side plugins to see your content.
  </dd>

  <dt>
    Mobile web apps? Why should I build them when I can build native apps?
  </dt>
  <dd>
    You mean, you want to write a separate app for iPhone and Android and
    Symbian, and then go through the whole approval process?
  </dd>
  <dd>
    Web apps are platform independent. That means the app will run across
    platforms like Symbian, iOS, Android or the next big thing in the mobile
    world. That saves you license costs and time needed to port apps and test
    them on various platforms. You also get the benefit of having a single
    codebase.
    </dd>

  <dt>
    Flash/Air is what we do best. We're not interested in diversifying.
    What's in it for us?
  </dt>
  <dd>
    More and more companies are realizing that the performance trade-off for
    rich animation in Flash/Silverlight simply isn’t worth it anymore. It is
    also easier to solve some problems in HTML5 than in Flash. For instance,
    geo location, making your content SEO friendly, etc.
  </dd>
</dl>
<p>
  Pradip Caulagi and Ganesh Ranganathan contributed to this FAQ.
</p>
