{% extends "layout.html" %}
{% block title %}‹! doctype html ›{% endblock %}
{% block header %}
  <h1><span class="brkt">&lt;</span><span class="bang">!</span>doctype html<sup>5</sup><span class="domain">.in</span><span class="brkt">&gt;</span></h1>
{% endblock %}
{% block content %}
  <p>
    This is all still hush hush. You’ll have to wait a few more days.
    In the meanwhile, why not poke around the source for this website
    and maybe <a href="http://github.com/jace/doctypehtml5">fork it</a>?
  </p>
{% endblock %}
