{% extends "layout.html" %}
{% from 'macros.html' import ajaxform %}
{% block title %}DocType HTML5{% endblock %}
{% block header %}
  <div itemscope itemtype="http://data-vocabulary.org/Event">
    <div id="date-location">
      <time itemprop="startDate" datetime="2010-10-09T09:00+05:30"><strong>October 9</strong>, 2010</time><br/>
      <time itemprop="endDate" datetime="2010-10-09T18:00+05:30"></time>
      at <span itemprop="location">IIM Bangalore</span><br/>
      <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
        <meta itemprop="latitude" content="12.8937"/>
        <meta itemprop="longitude" content="77.6008"/>
      </span>
      <meta itemprop="eventType" content="Conference"/>
    </div>
    <h1><a href="{{ url_for('index') }}" itemprop="url"><span class="brkt">&lt;</span><span class="bang">!</span><span itemprop="summary">DocType HTML<sup>5</sup></span><span class="domain">.in</span><span class="brkt">&gt;</span></a></h1>
    <meta itemprop="description" content="DocType HTML5 is a one day conference on HTML5, CSS3 and related technologies."/>
  </div>
{% endblock %}
{% block content %}
{#  <p id="browseralert" style="display: none;">
    Hello there! You seem to be using Internet Explorer. Your browser has been a
    laggard at supporting the latest web standards. You might want to visit this
    site using <a href="http://www.google.com/chrome">Chrome</a>,
    <a href="http://www.mozilla.com/firefox/">Firefox</a>,
    <a href="http://www.apple.com/safari/">Safari</a> or
    <a href="http://www.opera.com/">Opera</a> to see what you are missing out on.
    <a href="" onclick="$('#browseralert').slideUp(); return false;" id="browseralertclose">(dismiss)</a>
    </p> #}
  <div id="tabs">
    <ul>
      <li><a href="#overview">Overview</a></li>
      <li><a href="#agenda">Agenda</a></li>
      <li><a href="#registration">Registration</a></li>
      <li><a href="#schedule">Schedule</a></li>
      <li><a href="#venue">Venue</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#faq">FAQ</a></li>
      <li><a href="#team">Team</a></li>
    </ul>
    <div id="overview">
      {% include 'overview.html' %}
    </div>
    <div id="agenda">
      {% include 'agenda.html' %}
    </div>
    <div id="registration">
      {% include 'registration.html' %}
    </div>
    <div id="schedule">
      {% include 'schedule.html' %}
    </div>
    <div id="venue">
      {% include 'venue.html' %}
    </div>
    <div id="gallery">
      {% include 'gallery.html' %}
    </div>
    <div id="faq">
      {% include 'faq.html' %}
    </div>
    <div id="team">
      {% include 'team.html' %}
    </div>
  </div>
{% endblock %}
{% block footer %}
  <p>
    DocType HTML<sup>5</sup> is a one day conference on HTML5, CSS3 and related technologies.
  </p>
  <div class="sponsorlogos">
    <div id="sponsor-platinum" class="tile">
      <span class="title">Platinum Sponsor</span><br/>
      <a href="http://www.microsoft.com/">
        <img src="{{ url_for('static', filename='img/logos/microsoft.jpg') }}" width="140" height="70"
            alt="Microsoft"/>
      </a>
    </div>
    <div id="sponsor-gold" class="tile bubbleInfo">
      <span class="title">Gold Sponsor</span><br/>
      {% block sponsorshipopen %}
        <img class="trigger" src="{{ url_for('static', filename='img/logos/blank.png') }}" width="90" height="70" alt="Available"/>
        <div class="popup">
          Sponsor position available.
          <a href="mailto:%63%6f%6e%74%61%63%74%40%64%6f%63%74%79%70%65%68%74%6d%6c%35%2e%69%6e">Write to us</a>.        
        </div>
      {% endblock %}
    </div>
    <div id="sponsor-silver" class="tile bubbleInfo">
      <span class="title">Silver Sponsor</span><br/>
      {{ self.sponsorshipopen() }}
    </div>
    <div id="sponsor-hosts" class="tile">
      <span class="title">Event Hosts</span><br/>
      <a href="http://www.iimb.ernet.in/">
        <img src="{{ url_for('static', filename='img/logos/iimb.png') }}" width="91" height="70"
            alt="Indian Institute of Management, Bangalore"/>
      </a>
      <a href="http://www.nsrcel.org/">
        <img src="{{ url_for('static', filename='img/logos/nsrcel.jpg') }}" width="92" height="70"
            alt="NS Raghavan Centre for Entrepreneurship Learning"/>
      </a>
    </div>
    <div id="organizer" class="tile">
      <span class="title">Event By</span><br/>
      <a href="http://hasgeek.in/">
        <img src="{{ url_for('static', filename='img/logos/hasgeek.jpg') }}" width="145" height="70"
            alt="HasGeek.in"/>
      </a>
    </div>
  </div>

{% endblock %}
{% block footerscripts %}
  <script type="text/javascript">
    $(function() {
      // Activate jQuery UI tabs
      var mainTabs = $("#tabs").tabs({
        select: function(ev, ui) {
          location.href = '#/' + ui.tab.href.replace(/.*#(.*)/, '$1');
          return true;
        }
      });
      // Helper function for subtabs
      var subtabselect = function(ev, ui) {
        location.href = '#/' + ui.tab.href.replace(/.*#(.*)/, '$1').replace(/-/, '/');
        return true;
      }
      // Activate vertical tabs in gallery
      var galleryTabs = $("#gallery-tabs").tabs({
        select: subtabselect
      }).addClass('ui-tabs-vertical ui-helper-clearfix');
      // Keep track of tabs with sub-tabs
      var subtabs = {
        gallery: galleryTabs
      };
      // Fix CSS for tab display
      $(".ui-tabs").removeClass('ui-corner-all')
      $(".ui-tabs-nav").removeClass('ui-corner-all');
      $(".ui-tabs-panel").removeClass('ui-corner-bottom');
      $(".ui-tabs-vertical .ui-tabs-nav li").removeClass('ui-corner-top');
      // Activate Sammy for tab URL
      $.sammy(function() {
        // Legacy URL. Keep this code for compatibility with old URLs
        this.get(/\#gallery-(.*)/, function(context) {
          mainTabs.tabs('select', '#gallery');
          galleryTabs.tabs('select', this.params['splat']);
          location.href = '#/gallery/' + this.params['splat'];
        });
        // Legacy URL. Keep this code for compatibility with old URLs
        this.get('#:tab', function(context) {
          mainTabs.tabs('select', '#' + this.params['tab']);
          location.href = '#/' + this.params['tab'];
        });
        // New #/ Ajax URL
        this.get('#/:tab/:subtab', function(context) {
          mainTabs.tabs('select', '#gallery');
          if (this.params['tab'] in subtabs) {
            subtabs[this.params['tab']].tabs('select', this.params['subtab']);
          };
        });
        // New #/ Ajax URL
        this.get('#/:tab', function(context) {
          mainTabs.tabs('select', '#' + this.params['tab']);
        });
      }).run();
    });
  </script>
  {# Activate jQuery Form. This should be in registration.html,
     but jQuery isn't loaded at that point. #}
  {{ ajaxform('regform') }}

  {# Popup for sponsor logos #}
  <script type="text/javascript">
   // Popup code from http://jqueryfordesigners.com/coda-popup-bubbles/
   // License is not specified.
    $(function () {
        $('.bubbleInfo').each(function () {
            var distance = 10;
            var time = 250;
            var hideDelay = 500;

            var hideDelayTimer = null;

            var beingShown = false;
            var shown = false;
            var trigger = $('.trigger', this);
            var info = $('.popup', this).css('opacity', 0);


            $([trigger.get(0), info.get(0)]).mouseover(function () {
                if (hideDelayTimer) clearTimeout(hideDelayTimer);
                if (beingShown || shown) {
                    // don't trigger the animation again
                    return;
                } else {
                    // reset position of info box
                    beingShown = true;

                    info.css({
                        top: -10,
                        left: -30,
                        display: 'block'
                    }).animate({
                        top: '-=' + distance + 'px',
                        opacity: 1
                    }, time, 'swing', function() {
                        beingShown = false;
                        shown = true;
                    });
                }

                return false;
            }).mouseout(function () {
                if (hideDelayTimer) clearTimeout(hideDelayTimer);
                hideDelayTimer = setTimeout(function () {
                    hideDelayTimer = null;
                    info.animate({
                        top: '-=' + distance + 'px',
                        opacity: 0
                    }, time, 'swing', function () {
                        shown = false;
                        info.css('display', 'none');
                    });

                }, hideDelay);

                return false;
            });
        });
    });
  </script>

  {# Twitter widget #}
  <script type="text/javascript">
    $(function() {
      $.ajax({
        url: 'http://widgets.twimg.com/j/2/widget.js',
        dataType: 'script',
        success: function() {
          new TWTR.Widget({
            id: 'twidget',
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 6000,
            width: 250,
            height: 300,
            theme: {
              shell: {
                background: '#e6e6e6',
                color: '#444444'
              },
              tweets: {
                background: '#ffffff',
                color: '#444444',
                links: '#607890'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: false,
              behavior: 'all'
            }
          }).render().setUser('doctypehtml5').start();
        },
      });
    });
  </script>

  {# Google Maps for venue #}
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
    $(function() {
      var latlng = new google.maps.LatLng(12.8937, 77.6008);
      var mapOptions = {
        zoom: 16,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById('venuemap'), mapOptions);
      var marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: "IIMB Auditorium"
      });
      // Setup map to resize when tab is shown
      $('#tabs').bind('tabsshow', function(event, ui) {
          if (ui.panel.id == "venue") {
              google.maps.event.trigger(map, "resize");
              // XXX: Wish this could be avoided, but resizing isn't enough.
              map.setCenter(latlng);
          }
      });
    });
  </script>
  {# Gallery using delicious.com #}
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.delicious.js') }}"></script>
  <script type="text/javascript">
    $(function() {
      // Username "tag" is a proxy for bookmarks from all users across Delicious.
      {%- for title, key in gallery_sections %}
        $("#gallery-{{ key }}").delicious("tag", {tag: "doctypehtml5-{{ key }}", append: true});
      {%- endfor %}
    });
  </script>
{#  <script type="text/javascript">
  $(function() {
    if ($.browser.msie) {
      $("#browseralert").slideDown('slow');
    }
  });
  </script> #}
{% endblock %}
