{% extends "layout.html" %}
{% from 'macros.html' import ajaxform %}
{% block title %}‹! doctype html5 ›{% endblock %}
{% block header %}
  <div itemscope itemtype="http://data-vocabulary.org/Event">
    <div id="date-location">
      <time itemprop="startDate" datetime="2010-10-09T09:00+05:30"><strong>October 9</strong>, 2010</time><br/>
      <time itemprop="endDate" datetime="2010-10-09T18:00+05:30"></time>
      at <span itemprop="location">IIM Bangalore</span>
      <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/Geo">
        <meta itemprop="latitude" content="12.8937"/>
        <meta itemprop="longitude" content="77.6"/>
      </span>
      <meta itemprop="eventType" content="Conference"/>
    </div>
    <h1><a href="{{ url_for('index') }}" itemprop="url"><span class="brkt">&lt;</span><span class="bang">!</span><span itemprop="summary">DocType HTML<sup>5</sup></span><span class="domain">.in</span><span class="brkt">&gt;</span></a></h1>
  </div>
{% endblock %}
{% block content %}
{#  <p id="browseralert" style="display: none;">
    Hello there! You seem to be using Internet Explorer. Your browser has been a
    laggard at supporting the latest web standards. You might want to visit this
    site using <a href="http://www.google.com/chrome">Chrome</a>,
    <a href="http://www.mozilla.com/firefox/">Firefox</a>,
    <a href="http://www.apple.com/safari/">Safari</a> or
    <a href="http://www.opera.com/">Opera</a> to see what you are missing out on.
    <a href="" onclick="$('#browseralert').slideUp(); return false;" id="browseralertclose">(dismiss)</a>
    </p> #}
  <div id="tabs">
    <ul>
      <li><a href="#overview">Overview</a></li>
      <li><a href="#agenda">Agenda</a></li>
      {#<li><a href="#schedule">Schedule</a></li>#}
      <li><a href="#registration">Registration</a></li>
      <li><a href="#faq">FAQ</a></li>
      {#<li><a href="#sponsor">Sponsors</a></li>#}
      <li><a href="#team">Team</a></li>
    </ul>
    <div id="overview">
      {% include 'overview.html' %}
    </div>
    <div id="agenda">
      {% include 'agenda.html' %}
    </div>
    {#
    <div id="schedule">
      {% include 'schedule.html' %}
    </div>
    #}
    <div id="registration">
      {% include 'registration.html' %}
    </div>
    <div id="faq">
      {% include 'faq.html' %}
    </div>
    {#<div id="sponsor">
      {% include 'sponsors.html' %}
    </div>#}
    <div id="team">
      {% include 'team.html' %}
    </div>
  </div>
{% endblock %}
{% block footer %}
  <p>
    DocType HTML<sup>5</sup> is a one day conference on HTML5, CSS3 and related technologies.
  </p>
{% endblock %}
{% block footerscripts %}
  <script type="text/javascript">
    // Activate jQuery UI tabs
    $(function() {
      var mainTabs = $("#tabs").tabs({
        select: function(ev, ui) {
          location.href = ui.tab.href;
          return true;
        }
      });
      // Activate Sammy for tab URL
      $.sammy(function() {
        this.get('#:tab', function(context) {
          mainTabs.tabs('select', '#' + this.params['tab']);
        });
      }).run();
    });
  </script>
  {# Activate jQuery Form. This should be in registration.html,
     but jQuery isn't loaded yet at that point. #}
  {{ ajaxform('regform') }}

{#  <script type="text/javascript">
  $(function() {
    if ($.browser.msie) {
      $("#browseralert").slideDown('slow');
    }
  });
  </script> #}
{% endblock %}
