{% extends "layout.html" %}
{% block title %}Statistics{% endblock %}

{% block header %}
  <h1>Statistics</h1>
{% endblock %}

{% block pageheaders %}
  <style type="text/css">
    #container {
      padding-top: 0;
      text-align: center;
    }
    #container, footer {
      max-width: 100%;
    }
    h1 {
      text-transform: none;
    }    
  </style>
{% endblock %}

{% block content %}
<h2>All registrations</h2>
<p>
  <img src="{{ all_browsers }}"/>
  <img src="{{ all_brver }}"/>
  <img src="{{ all_platforms }}"/>
</p>
<h2>At venue</h2>
<p>
  <img src="{{ present_browsers }}"/>
  <img src="{{ present_brver }}"/>
  <img src="{{ present_platforms }}"/>
</p>
{% endblock %}
