<h2>Event venue</h2>
<div id="venue-tabs">
  <ul>
    <li><a href="#venue-bangalore">Bangalore</a></li>
    <li><a href="#venue-chennai">Chennai</a></li>
    <li><a href="#venue-pune">Pune</a></li>
    <li><a href="#venue-hyderabad">Hyderabad</a></li>
    <li><a href="#venue-ahmedabad">Ahmedabad</a></li>
  </ul>
  <div id="venue-bangalore">
    <p class="ui-tabs-vertical-top">
      Auditorium at the <strong>Indian Institute of Management Bangalore</strong>.
    </p>
    <div class="venuemap" id="venuemap-bangalore"></div>
    <p>
      Bilekahalli, Bannerghatta Road, Bangalore - 560 076. See <a href="http://goo.gl/maps/de93">larger map</a>.
    </p>
    <h3>Getting there</h3>
    <p>
      IIMB is at the south end of Bangalore, about 2 km past the Outer Ring Road on Bannerghatta Road.
      If you are taking public transport, ask for “<strong>Honeywell</strong>”. Their campus is across the road. The bus
      stop next to IIMB’s entrance is “<strong>Apollo Hospital</strong>”. Bus routes:
    </p>
    <ul>
      <li><strong>G4</strong> Big10 bus from Brigade Road</li>
      <li><strong>365</strong> and <strong>369</strong> series from the Kempegowda bus stand at Majestic</li>
    </ul>
    <p>
      You will have to checkin with security when you enter. Turn right inside the gate and follow
      the road until it curves left, leading to a parking lot. You will find signboards there leading
      to the auditorium.
    </p>
    <h3>At the venue</h3>
    <p>
      IIMB’s auditorium can seat 250 and has excellent acoustics. We will have WiFi for the event.
      However, the auditorium does not have power points near seats. We have structured the agenda
      such that you can follow it online, but don't have to.
    </p>
  </div>
  <div id="venue-chennai">
    <p class="ui-tabs-vertical-top">
      Room CS25, Computer Science Block, <strong>Indian Institute of Technology Madras</strong>.
    </p>
    <div class="venuemap ui-tabs-vertical-top" id="venuemap-chennai"></div>
    <h3>Directions to the main gate</h3>
    <h4>From Chennai Central</h4>
    <p>
      Chennai Central is the main railway station in Chennai. To reach the venue
      from here, you can hire an auto/taxi. There are prepaid autos available at
      the station. Please be careful while boarding autos directly because auto
      drivers typically demand exorbitant prices and the meters routinely rigged.
      The standard auto fare should be around Rs 120 and for taxis it should be
      Rs 200, till the IIT main gate.
    </p>
    <h4>From Egmore Station</h4>
    <p>
      The bus 23C directly takes you to the IIT main gate. The auto and taxi fares
      from Egmore are approximately Rs 100 and Rs 150 respectively.
    </p>
    <h4>From Airport</h4>
    <p>
      You can either catch a auto or taxi from here. Prepaid counters are available
      here as well. Also the bus 21G directly goes to the main gate.
    </p>
    <h4>From CMBT</h4>
    <p>
      CMBT (or Koyambedu) is the main bus stand of Chennai (analogous to Majestic in
      Bangalore). The buses 23M and 5E can take you to IIT Madras.
    </p>
    <h3>Getting to Computer Science Block - CS25</h3>
    <a href="http://wiki.hasgeek.in/File:IITM-CSB.jpg"><img align="right" width="200" height="118"
      src="http://wiki.hasgeek.in/w/images/thumb/1/1c/IITM-CSB.jpg/200px-IITM-CSB.jpg"
      alt="IITM Campus Map"/></a>
    <p>
      Once inside IIT Madras, there are frequent buses from the main gate to the
      Computer Science Department.
    </p>
    <p>
      The CSE department is located across three interconnected buildings: the
      building sciences block (BSB), the PG Senapathy Centre for Computing Resources
      (or the computer centre) and the computer science block (CSB). All the entrances
      will be open throughout the duration of the event. The map shows the route to the
      department from Gajendra Circle, inside IIT Madras campus. Classroom CS25 is
      located on the first floor of the computer science block (CSB).
    </p>
  </div>
  <div id="venue-pune">
    <p class="ui-tabs-vertical-top">
      1000-seater Auditorium at the <strong>College of Engineering, Pune</strong>.
    </p>
    <div class="venuemap ui-tabs-vertical-top" id="venuemap-pune"></div>
  </div>
  <div id="venue-hyderabad">
    <p class="ui-tabs-vertical-top">
      <strong>International Institute of Information Technology (IIIT-H)</strong>, Gachibowli, Hyderabad - 500 032.
    </p>
    <div class="venuemap" id="venuemap-hyderabad"></div>
    <p>
      Directions to the venue are available at
      <a href="http://www.iiit.net/institute/location">IIIT’s website</a>.
    </p>
  </div>
  <div id="venue-ahmedabad">
    <p class="ui-tabs-vertical-top">
      <strong>Gujarat Chamber of Commerce &amp; Industry</strong>, Ashram Road.
    </p>
    <div class="venuemap" id="venuemap-ahmedabad"></div>
    <p>
      Shri Ambica Mills - Gujarat Chamber Building, Ashram Road, Ahmedabad - 380 009.
    </p>
  </div>
</div>
