{# Sign-in sheet #}
{% extends "layout.html" %}
{% block title %}At Venue Sign-in{% endblock %}

{% block header %}
  <h1>{{ self.title() }}</h1>
{% endblock %}

{% block pageheaders %}
  <style type="text/css">
    #container {
      padding-top: 0;
    }
    #container, footer {
      max-width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
  <table class="listing">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Date</th>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Job Title</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for i, p in enumerate(participants) -%}
        <tr>
          <td>{{ i+1 }}</td>
          <td>{{ utc.localize(p.regdate).astimezone(tz).strftime('%Y-%m-%d %H:%M')|e }}</td>
          <td><strong>{{ p.fullname|e }}</strong></td>
          <td>{{ hideemail.sub('...@', p.email)|e }}</td>
          <td>{{ p.company|e }}</td>
          <td>{{ p.jobtitle|e }}</td>
          <td>
            {%- if p.attended -%}
                Signed in
            {%- else -%}
            <form id="attend{{ i }}" action="{{ url_for('admin_venuesheet', edition=edition) }}" method="POST">
              <input type="hidden" name="id" value="{{ p.id }}"/>
              <input type="submit" name="action.signin" value="Sign in"/>
            </form>
            {%- endif -%}
          </td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endblock %}

{% block footer %}
  <p>
    This is a restricted page. Do not share this URL.
  </p>
{% endblock %}
{% block footerscripts %}
  <script type="text/javascript">
    $(function() {
      {% for i,p in enumerate(participants) -%}
        $("{{ '#attend%d' % i }}").ajaxForm({target: "{{ '#attend%d' % i }}", replaceTarget: true});
      {% endfor -%}
    });
  </script>
{% endblock %}
