{% extends "layout.html" %}
{% from 'macros.html' import renderform, ajaxform %}
{% block title %}DocType HTML5 At Venue Registration{% endblock %}

{% block pageheaders %}
  <style type="text/css">
    #container {
      text-align: center;
    }
    #regform input {
      text-align: center;
    }
  </style>
{% endblock %}

{% block header %}
  <h1><span class="brkt">&lt;</span><span class="bang">!</span>DocType HTML<sup>5</sup><span class="domain">.in</span><span class="brkt">&gt;</span></h1>
{% endblock %}

{% block content %}
  <p>
    Hello there! We didn’t recognise you. Would you like to register?
    Or, <a href="{{ url_for('admin_venue', edition=edition) }}">search again</a>.
  </p>
  {% include 'venueregform.html' %}
{% endblock %}

{% block footer %}
  <p>
    DocType HTML5 is a one day conference on HTML5, CSS3 and related technologies.
  </p>
{% endblock %}

{% block footerscripts %}
  {{ ajaxform('venueregform') }}
{% endblock %}
